.connectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.connect {
  min-width: 200px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-wrap: no-wrap;
  padding: 0.5rem;
}
